
<%= render 'shared/navbar' %>
<div class="chatHeader">
    <div class="headerTitle ">
    <div class="Txt">
      <h5><strong><%= @activity.title %></strong></h5>
      <p>Chat room</p>
    </div>
      <%= link_to activity_appointments_path id: "See All Participants" do %>
        <%= image_tag "https://cdn4.iconfinder.com/data/icons/silky-icon-user/60/users1-512.png", class: "activity-icon"%>
      <% end %>
    </div>
</div>
<div class="container">
  <div class="chat-container">
    <div class="chatContent">
      <% @activity.messages.each do |message| %>
        <% if message.user == current_user %>
          <div class="user_name text-right">
            <%= message.user.name %>
          </div>
          <div class="chat-column company">
            <div class="item">
              <div class="chat-message text-right"><%= message.content %></div>
              <div class="message-date text-right"><%= message.created_at.strftime("%b %e, %l:%M %p") %>
              </div>
            </div>
          </div>
      <% else %>
        <div class="user_name text-left">
          <%= message.user.name %>
        </div>
        <div class="chat-column customer">
          <div class="item">
            <div class="chat-message text-left"><%= message.content %></div>
            <div class="message-date text-left"><%= message.created_at.strftime("%b %e, %l:%M %p") %></div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="textmsg-box">
<%= simple_form_for [@activity, @message], wrapper: :inline_form, html: { class: 'form-inline' }  do |f| %>
    <%= f.input :content, label: false, placeholder: "Write message..." %>
    <%= f.button :submit , "send", id:"send-btn" %>
  <% end %>
</div>
