<%= link_to dashboard_path do %>
<%= image_tag "http://www.vogelphoto.com/Photos/Backbutton.png", class: "activity-icon"%>

<% end %>

<% if !@user.photo.blank? %>
<div class="user-profile"><%= cl_image_tag @user.photo%></div>
<% else %>
<img src="<%= @user.facebook_picture_url %> " alt="" >
<% end %>

<div class="user-profile-div">
  <ul style="text-align:center;" >
    <li class="profile-info"><strong><%= @user.name %></strong></li>
    <li ><%= @user.gender %></li>
    <li><%= @user.age %></li>
  </ul>
</div>

 <div class="user-div" style="text-align:center;">
    <% if @user == current_user %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-secondary edit-profile-btn" %>
    <% end %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary log-out-btn" %>
  </div>

