<%= render 'shared/navbar' %>

<% if !@user.photo.blank? %>
  <div class="user-profile"><%= cl_image_tag @user.photo%></div>
<% else %>
  <img src="<%= @user.facebook_picture_url %> " alt="" >
<% end %>

<div class="profile-div">
    <div class="basic-info-section">
      <p><strong><%= @user.name %></strong>, <%= @user.age %></p>
      <p><%= @user.gender %></p>
    </div>
    <% if !@user.about_me.blank? %>
      <div class="about-me-section">
        <p><strong>About me</strong></p>
        <div>
          <p><%= @user.about_me %></p>
        </div>
      </div>
    <% end %>
</div>

  <div class="user-div">
    <% if @user == current_user %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-secondary edit-profile-btn" %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary log-out-btn" %>
    <% end %>
  </div>
