
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= "index-navbar" if params[:action] == "index" && params[:controller] == "activities" %>">

  <%= link_to "#", class: "navbar-brand", style: "width: 40px" do %>

<% if !current_user.photo.blank? %>
<div class="rounded-circle"><%= cl_image_tag current_user.photo%></div>
<% else %>
<img src="<%= current_user.facebook_picture_url %> " alt="" class="rounded-circle">
<% end %>


  <% if controller_name == "activities" && action_name == "index" %>
    <button id="filter" class="navbar-toggler navbar-brand" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>

  <% end %>

  <%= link_to dashboard_path, id: "dashboard", class: "navbar-brand" do %>
    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Gqc4Ch5MYwqhlcqs3ihuynFO0oAeFxixRMsyd3FmTIhdhJoarw" %>
  <% end %>

    <button id="profile" class="navbar-toggler" type="button"><span class="navbar-brand"><%= cl_image_tag current_user.photo, id: "profile", class: "rounded-circle" %></span></button>

</div>

<% if user_signed_in? %>
  <%= render 'profileshow' %>
<% end %>
