
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= "index-navbar" if params[:action] == "index" && params[:controller] == "activities" %>">

  <% unless controller_name == "activities" && action_name == "index" %>

  <button action="action" onclick="window.history.go(-1); return false;" type="button" value="" class="arrow" /><i class="fas fa-chevron-left"></i></button>

  <% end %>

  <% if controller_name == "activities" && action_name == "index" %>
    <button id="filter" class="navbar-toggler navbar-brand" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>


  <%= link_to dashboard_path, id: "dashboard", class: "navbar-brand" do %>
    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Gqc4Ch5MYwqhlcqs3ihuynFO0oAeFxixRMsyd3FmTIhdhJoarw" %>
  <% end %>

  <% if !current_user.photo.blank? %>
    <button id="profile" class="navbar-toggler" type="button"><span class="navbar-brand"><%= cl_image_tag current_user.photo, id: "profile", class: "rounded-circle" %></span></button>
  <% else %>
    <button id="profile" class="navbar-toggler" type="button"><span class="navbar-brand"><%= current_user.facebook_picture_url, id: "profile", class: "rounded-circle" %></span></button>
  <% end %>


</div>

<% if user_signed_in? %>
  <%= render 'activities/profileshow' %>
<% end %>
