<div class="login-page">
  <!-- <div class="card-login-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%#=# image_url "rockclimbing.png" %>')"> -->
  <div class="logo-login"><%= image_tag('u3.png') %></div>
  <div class="title-login">
    <h1>UNIVOS</h1>
    <h3>Do sh*t together</h3>
  </div>
  <div class="login-form">
    <div class="facebook-login"  >
      <%= render "devise/shared/facebook" %>
    </div>
    <div class="division">
      <p>OR</p>
    </div>
    <div class="form-inputs">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
    <% end %>
  <div class="signin-links">
    <%= render "devise/shared/links" %>
  </div>
</div>

