
<div class="profile-show">

<!--   <% if @user.nil? && @user == current_user %>
  <% end %> -->

  <% if !current_user.photo.blank? %>
    <div class="user-profile"><%= cl_image_tag current_user.photo%></div>
  <% else %>
    <img src="<%= current_user.facebook_picture_url %> " alt="" >
  <% end %>

  <ul>
    <li><%= current_user.name %></li>
    <li><%= current_user.gender %></li>
    <li><%= current_user.age %></li>
  </ul>

  <div class="buttons m-4">
    <%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-outline-secondary" %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>

  </div>
</div>
