
<%= render 'shared/navbar' %>
<div class="maincard text-center">
<!--   <%= render 'filterform' %> -->

  <% if @activity.nil?%>
    <%= "There are no activities" %>
  <% else %>
  <%= link_to activity_path(@activity) do %>
    <div class="card-trip card-trip-index">

      <div style="background-image:
    url('<%= cl_image_path @activity.photo %> ')" class="index-picture" >
      </div>
        <% end %>

      <div class="card-trip-infos">
        <div>
          <h6 class="location-category"><%= @activity.meeting_point %> • <%= @activity.category %></h6>
          <h2><%= @activity.title %></h2>
          <p><%= @activity.description %></p>
          <div class="icon-info">
            <p><i class="fas fa-users"></i> <%= @activity.number_of_people %></p>
            <p><i class=" far fa-clock"></i> <%= @activity.date %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= @activity.meeting_point %></p>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
</div>
<% end %>
