
<%= render 'shared/navbar' %>
<div class="maincard">

 <%= render 'filterform' %>

  <% if @activity.nil?%>
    <%= "There are no activities" %>
  <% else %>
      <%= link_to activity_path(@activity) do %>
        <div class="card-trip card-trip-index">

        <div style="background-image:
    url('<%= cl_image_path @activity.photo %> ')" class="index-picture" >
        </div>
      <% end %>

      <div class="card-trip-infos">
        <div>
          <div class="activity-info">
            <h6 class="location-category text-center">
              <%= @activity.meeting_point %> • <%= @activity.category %></h6>
            <h2><%= @activity.title %></h2>
            <p><%= @activity.description[0..50] %>...</p>
          </div>
          <div class="icon-info">
            <p><i class="fas fa-map-marker-alt"></i> <%= @activity.meeting_point %></p>
            <p><i class=" far fa-clock"></i> <%= @activity.date.strftime("%b %e, %l:%M %p") %></p>
            <p><i class="fas fa-users"></i> <%= @activity.number_of_people %></p>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
</div>
<% end %>

