<%= render 'shared/navbar' %>
  <% if @activity.nil?%>
    <%= "There are no activities" %>
  <% else %>
    <%= form_tag activities_path, method: :get do %>
      <% @categories.each do |category| %>

      <%= check_box_tag 'category[]', category, @selected_categories.include?(category)  %>
        <label for=""><%= category %></label>
        <% end %>
      <%= submit_tag 'Filter' %>
    <% end %>

    <div class="maincard text-center">
      <div class= "card-img text-center">
        <%= cl_image_tag @activity.photo %>
      </div>
      <h6 class="activity-location">location, category</h6>
      <h2><%= link_to "#{@activity.title}", activity_path(@activity) %></h2>
      <p>Descriptions hello kjsbc kjdsbnk klj hike surf ...</p>
    </div>
    <div class="activity-description text-center ">
      <p><%= @activity.description %></p>
      <p><%= @activity.category %></p>
      <p><%= @activity.date %></p>
      <p><%= @activity.meeting_point %></p>
    </div>
    <%= render 'shared/footer' %>
  <% end %>
