<div class="create-activity-form">
  <h1>Create your activity</h1>
  <%= simple_form_for @activity do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :category %>
    <%= f.input :number_of_people %>
    <%= f.input :date %>
    <%= f.input :meeting_point %>
    <%= f.input :latitude, as: :hidden %>
    <%= f.input :longitude, as: :hidden %>
    <%#= f.input :gender %>
    <%#= f.input :min_age %>
    <%#= f.input :max_age %>

    <%= f.input :photo %>
    <%= f.button :submit, class: 'btn btn-outline-success' %>
  <% end %>
  <%= link_to "Back to Activities", activities_path, class: 'btn', id:'back-to-activity' %>
</div>
